.cardOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(15, 16, 17, 0.80);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  pointer-events: auto;
}

.cardContainer {
  border-radius: 12px;
  padding: 36px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background: #0F1011;
  position: relative;
  flex-direction: column;
}
.cardContainer::before {
  content: "";
  position: absolute;
   pointer-events: none;
  inset: 0;
  padding: 1px;
  border-radius: 12px;
  background: linear-gradient(135deg, #54A2FE, #F6465D);
  -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}
.titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}
.title {
    color: #E8E8E8;
    font-size: 36px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 8px;
    align-items: center;
}
.label {
    color: #A5A5A5;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 36px;
    max-width: 380px;
}
.buttonsWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}
.buttonsWrapper > * {
  flex: 1;
}

@media (max-width: 408px) {
  .titleWrapper {
    text-align: center;
  }
}