.container {
  width: 100%;
  display: grid;
  grid-template-columns: 100px 1fr 120px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  background: rgba(21, 25, 30, 0.4);
  backdrop-filter: blur(10px);
}
.swapped {
  grid-template-columns: 140px 1fr 100px;
}
.shirtWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 12px;
}

.swapped .shirtWrapper {
  border-right: none;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.playerNumber {
  color: #e8e8e8;
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
}

.iconWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.redGlow::before,
.yellowGlow::before,
.blueGlow::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  filter: blur(6px);
  z-index: 0;
}

.redGlow::before {
  background: radial-gradient(
    circle,
    rgba(245, 58, 83, 1),
    rgba(255, 0, 80, 0.1),
    transparent 90%
  );
}

.yellowGlow::before {
  background: radial-gradient(
    circle,
    rgba(245, 176, 58, 1),
    rgba(245, 176, 58, 0.7),
    transparent 70%
  );
}

.blueGlow::before {
  background: radial-gradient(
    circle,
    #54a2fe,
    rgba(63, 175, 250, 0.7),
    transparent 70%
  );
}

.icon {
  z-index: 1;
  width: 22px;
  height: 24px;
}

.infoWrapper {
  display: grid;
  grid-template-columns: 1fr 220px;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0 10px 14px;
}

.swapped .infoWrapper {
  grid-template-columns: 220px 1fr;
  padding-left: 0;
  padding-right: 20px;
}

.playerInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.playerLabel {
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  font-weight: 400;
  text-transform: capitalize;
}

.playerNameRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.infoWrapper {
  display: grid;
  grid-template-columns: 1fr 220px;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0 10px 14px;
}
.playerImage {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.playerName {
  color: #fff;
  text-align: right;
  font-size: 13px;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
}

.assistWrapper {
  display: flex;
  flex-direction: row;
}
.swapped .assistInfoWrapper {
  padding-left: 20px;
}
.assistInfoWrapper {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}
.assistWrapper span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  font-weight: 400;
  text-transform: capitalize;
}
.assistName {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
}

.goal {
  display: flex;
  border-radius: inherit;
  justify-content: center;
  align-items: center;
  background-image:
    linear-gradient(rgba(21, 25, 30, 0.4), rgba(21, 25, 30, 0.4)),
    linear-gradient(to left, #54a3fe83, rgba(79 104 135 / 0%) 50%);
  z-index: 10;
  height: 100%;
}

.goal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1px;
  border-radius: 8px;
  background: linear-gradient(to left, #54a2fe 10%, transparent 50%);
  -webkit-mask:
    linear-gradient(#54a2fe 0 0) content-box,
    linear-gradient(#54a2fe 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
.swapped .goal {
  background-image:
    linear-gradient(rgba(21, 25, 30, 0.4), rgba(21, 25, 30, 0.4)),
    linear-gradient(to right, #54a3fe83, rgba(79 104 135 / 0%) 50%);
}
.swapped .goal::before {
  background: linear-gradient(to right, #54a2fe 10%, transparent 50%);
}
.goal {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  color: #e8e8e8;
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
}

.icon {
  width: 22px;
  height: 24px;
  z-index: 1;
}
.blueGlow::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: radial-gradient(
    circle,
    #54a2fe,
    rgba(63, 175, 250, 0.7),
    transparent 70%
  );
  filter: blur(6px);
  z-index: 0;
}

.redCard {
  display: flex;
  border-radius: inherit;
  justify-content: center;
  align-items: center;
  background-image:
    linear-gradient(rgba(21, 25, 30, 0.4), rgba(21, 25, 30, 0.4)),
    linear-gradient(to left, #f53a5390, rgba(79 104 135 / 0%) 50%);
  z-index: 10;
  height: 100%;
}

.redCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1px;
  border-radius: 8px;
  background: linear-gradient(to left, #f53a53 10%, transparent 50%);
  -webkit-mask:
    linear-gradient(#f53a53 0 0) content-box,
    linear-gradient(#f53a53 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  height: 100%;
}

.redCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  color: #e8e8e8;
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
}
.swapped .redCard {
  background-image:
    linear-gradient(rgba(21, 25, 30, 0.4), rgba(21, 25, 30, 0.4)),
    linear-gradient(to right, #f53a5390, rgba(79 104 135 / 0%) 50%);
}
.yellowCard {
  display: flex;
  border-radius: inherit;
  justify-content: center;
  align-items: center;
  background-image:
    linear-gradient(rgba(21, 25, 30, 0.4), rgba(21, 25, 30, 0.4)),
    linear-gradient(to left, rgba(245, 176, 58, 0.526), rgba(79 104 135 / 0%) 50%);
  z-index: 10;
  height: 100%;
}
.swapped .yellowCard {
  background-image:
    linear-gradient(rgba(21, 25, 30, 0.4), rgba(21, 25, 30, 0.4)),
    linear-gradient(to right, rgba(245, 176, 58, 0.526), rgba(79 104 135 / 0%) 50%);
}
.yellowCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1px;
  border-radius: 8px;
  background: linear-gradient(
    to left,
    rgba(245, 176, 58, 1) 10%,
    transparent 50%
  );
  -webkit-mask:
    linear-gradient(rgba(245, 176, 58, 1) 0 0) content-box,
    linear-gradient(rgba(245, 176, 58, 1) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  height: 100%;
}
.swapped .redCard::before {
  background: linear-gradient(to right, #f53a53 10%, transparent 60%);
}

/* YellowCard swapped */
.swapped .yellowCard::before {
  background: linear-gradient(
    to right,
    rgba(245, 176, 58, 1) 10%,
    transparent 50%
  );
}
.swapped .rightWrapper {
  display: flex;
  align-self: flex-end;
  height: 100%;
}
.yellowCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  color: #e8e8e8;
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
}
.yellowGlow::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: radial-gradient(
    circle,
    rgba(245, 176, 58, 1),
    rgba(245, 176, 58, 0.7),
    transparent 70%
  );
  filter: blur(6px);
  z-index: 0;
}

.mobile {
  display: flex;
  flex-direction: column;
}

.mobile .infoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: unset;
  padding: 20px;
}

.mobile .rightWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mobile .shirtWrapper {
  border: none;
  padding: unset;
}
.centered {
  justify-content: center !important;
}
.mobile .goal,
.mobile .redCard,
.mobile .yellowCard {
  height: 100%;
  padding: 12px 20px;
  background-image: none;
  font-size: 16px;
  gap: 10px;
}

.mobile .goal::before,
.mobile .yellowCard::before,
.mobile .redCard::before {
  display: none;
}

.mobile .goal .icon,
.mobile .redCard .icon,
.mobile .yellowCard .icon {
  width: 28px;
  height: 28px;
}
.mobile .assistWrapper {
  padding: 20px;
}

.mobile.swapped .infoWrapper {
  flex-direction: row-reverse;
}

.assistRight {
  text-align: right;
  margin-right: 0;
  padding-right: 20px;
}

.swappedWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.swapped {
  flex-direction: column-reverse;
}
.mobile {
  .swapped {
    margin-left: 20px;
  }
}

.mobile {
  margin-right: 20px;
}
.swapped .goal,
.swapped .yellowCard,
.swapped .redCard {
  padding-left: 20px;
}
