.container {
    height: 390px;
    border-radius: 15px;
    border: 0.5px solid rgba(255, 255, 255, 0.10);
    background: rgba(17, 19, 23, 0.70);
    padding: 30px 0 20px 30px;
    max-width: 580px;
}

.title {
    color: #E8E8E8;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 22px;
}