.border{
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: rgba(17, 19, 23, 0.70);
  backdrop-filter: blur(55px);
  width: 100%;
  padding: 10px 0 10px 10px;
}
.transfer_news {
  min-height: 50vh;
  border: solid 1px #15191e66;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  position: relative;
  background-repeat: no-repeat;
  background-position: center bottom;
  box-shadow: 0 4px 16px 0 #101010;
  flex-direction: column;
  border: none;
  background-clip: padding-box, border-box;
  background-origin: border-box;
  background-image:
    linear-gradient(
    rgba(15, 16, 17, 0.95),
    rgba(15, 16, 17, 0.95)
  ),
  linear-gradient(to right, #F6465D, #54A2FE);
  max-height: 35vh;
}
.transfer_news_empty {
  min-height: 50vh;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  position: relative;
  background-image:
    linear-gradient(
    rgba(15, 16, 17, 0.95),
    rgba(15, 16, 17, 0.95)
  ),
  linear-gradient(to right, #F6465D, #54A2FE);
  background-color: #111317b2;
  flex-direction: column;
}

.button_and_title_wrapper {
  padding: 12px 16px;
  display: flex;
  gap: 20px;
}
.button_wrapper {
  margin-top: 12px;
}

.title_wrapper {
  align-items: center;
}

.no_transfer_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.transfer_empty_image{
  width: 100%;
}
.no_transfer_text {
  color: #a5a5a5;
  font-size: 14px;
  margin-top: 10px;
}

.title_description {
  color: #a5a5a5;
}
.transfer_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}
.transfer_wrapper::-webkit-scrollbar {
  width: 6px;
}

.transfer_wrapper::-webkit-scrollbar-thumb {
  background-color: #54a2fe;
  border-radius: 5px 0 0 5px;
}

.transfer_wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}

.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(15, 15, 15, 0.11);
  z-index: 9999;
}

.loader {
  border: 6px solid rgba(15, 15, 15, 0.11);
  border-top: 6px solid #f53a53;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .transfer_wrapper {
    max-height: 450px;
  }
  .transfer_news {
    width: 100%;
    flex: 1;
  }
  .transfer_news_empty {
    flex: 1;
  }
}
