.container {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    justify-content: center;
}
@media (max-width: 1080px) {
    .container {
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width: 920px) {
    .container {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 600px) {
    .container {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
}

.loaderOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.loader {
    border: 6px solid rgba(15, 15, 15, 0.11);
    border-top: 6px solid #f53a53;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}