.container {
    max-width: 322px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #15191e66;
    border-radius: 16px;
    background-origin: border-box;
    background-image: linear-gradient(
        rgba(15, 16, 17, 0.929),
         rgba(15, 16, 17, 0.886)), 
         linear-gradient(
            to right, 
            #54A2FE, 
            #F6465D);
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
}
.wrapper {
    position: relative;
    margin: 24px;
}
.nameNumberContainer {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.playerNumberContainer {
  display: flex;
  align-items: flex-end;
}
.image {
    width: 94px;
    height: 124px;
    border-radius: 13px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: #54a3feba;
}
.playerNumber {
  font-size: 143px;
  font-weight: 700;
  line-height: 1;
  position: relative;
  color: transparent;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.058) 0%,
      transparent 100%);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px transparent;
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0 0 0 rgba(255, 255, 255, 0.1));
  top: 30px;
}
.teamName {
    color: #E8E8E8;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize; 
}
.teamName  {
    text-decoration: none;
    color: #E8E8E8;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize; 
    cursor: pointer;
}
.menuWrapper {
    position: absolute;
    top: -4px;
    right: -4px;
}

.more {
    display: flex;
    cursor: pointer;
    padding: 6px;
    border-radius: 6px;
}
.menuDropdown {
    position: absolute;
    top: 28px;
    right: 0;
    z-index: 100;
    min-width: 220px;
}
.mobile {
    width: 100%;
}
.mobile .nameNumberContainer {
    gap: unset;
    justify-content: space-between;
}

.mobile .playerNumber {
    font-size: 120px;
}