.past_matches_innerCard {
  display: grid;
  grid-template-columns: 180px auto 1fr 1fr 1fr auto;

  align-items: center;

  width: 90%;
  margin: 0 auto;
  padding: 14px 20px;

  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #15191e66;
  border-radius: 10px;
  color: #e8e8e8;
}

/* ---------- DATE ---------- */
.date {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
}

/* ---------- ICON ---------- */
.iconWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  z-index: 1;
}

.redGlow::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(245, 58, 83, 1),
    rgba(255, 0, 80, 0.1),
    transparent 90%
  );
  filter: blur(6px);
  z-index: 0;
}

/* ---------- TEAM SIDES ---------- */
.side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.team {
  display: flex;
  align-items: center;
  gap: 10px;
}

.team_name {
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ---------- SCORE ---------- */
.score_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  max-width: 70px;
  font-size: 22px;
  font-weight: 700;

  justify-self: center;
}

/* ---------- WINNERS (BORDER PINNED) ---------- */
.winner_slot {
  width: 80px;
  display: flex;
  align-items: center;
  position: relative;
}
.winner_slot2 {
  position: relative;
}
/* LEFT */
.winner_wrapper,
.winner_wrapper_big1 {
  justify-self: start;
  display: flex;
  align-items: center;
  max-width: 80px;
}

/* RIGHT */
.right_winner_wrapper,
.winner_wrapper_big2 {
  justify-self: end;
  display: flex;
  align-items: center;
  max-width: 80px;
}

/* ---------- DIVIDER ---------- */
.divider {
  background-color: rgba(255, 255, 255, 0.1);
}

/* ---------- TEAM INFO ---------- */
.team_info {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ================= MOBILE VIEW ================= */

.date_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team_info_mobile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.past_matches_innerCard_mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 17px 33px;

  border: 1px solid #ffffff1a;
  background-color: #15191e66;
  border-radius: 10px;
  color: #e8e8e8;
  font-size: 14px;
}

.away_team_info_mobile,
.home_team_info_mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  min-width: 100px;
}

.team_logo_mobile {
  max-width: 60px;
  height: fit-content;
}

.empty_calendar {
  width: 50px;
  height: fit-content;
}

.score_wrapper_mobile {
  display: flex;
  gap: 8px;
  font-weight: 700;
  align-self: center;
  position: relative;
  top: 16px;
  margin: 0 10px;
  font-weight: 700;
}

.mobile {
  display: flex;
}
.mobile .date {
  border: none;
}
.mobile .empty_calendar {
  width: 18px;
  margin-right: 8px;
} 
.winner_wrapper_mobile {
      position: relative;
    max-width: 100px;
    min-height: 50px;
    top: 34px;
}