.past_matches_innerCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  border: solid 1px #15191e66;
  background-color: #15191e66;
  border-radius: 10px;
  padding: 2px 12px;
  color: #e8e8e8;
}

.winner_wrapper {
  min-width: 100px;
}
.winner_wrapper_big1 {
  min-width: 300px;
  display: flex;
  justify-content: flex-end;
}

.winner_wrapper_big2 {
  min-width: 300px;
}
.divider {
  background-color: rgba(255, 255, 255, 0.1);
}

.team_info {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score_wrapper {
  display: flex;
  gap: 8px;
  font-weight: 700;
}

.date {
  min-width: 90px;
}
