.past_matches_innerCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  border: solid 1px #15191e66;
  background-color: #15191e66;
  border-radius: 10px;
  padding: 2px 12px;
  color: #e8e8e8;
}

.winner_wrapper {
  min-width: 100px;
}
.winner_wrapper_big1 {
  min-width: 180px;
  display: flex;
  justify-content: flex-end;
}

.winner_wrapper_big2 {
  min-width: 300px;
}
.divider {
  background-color: rgba(255, 255, 255, 0.1);
}

.team_info {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score_wrapper {
  display: flex;
  gap: 8px;
  font-weight: 700;
  justify-content: space-between;
  align-items: center;
  min-width: 50px;
}

.date {
  min-width: 90px;
}
.team_name {
  min-width: 60px;
}

/* mobile view */
.date_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team_info_mobile {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.past_matches_innerCard_mobile {
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  border: solid 1px #ffffff1a;
  background-color: #15191e66;
  border-radius: 10px;
  padding: 12px;
  color: #e8e8e8;
  font-size: 30px;
}
.away_team_info_mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.home_team_info_mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.team_logo_mobile {
  width: 60px;
  height: fit-content;
}
.empty_calendar {
  width: 50px;
  height: fit-content;
}
.score_wrapper_mobile {
  display: flex;
  gap: 8px;
  font-weight: 700;
}
.winner_wrapper_mobile {
  min-width: 100px;
  min-height: 50px;
}
