.leagues_results {
  padding: 20px 0 20px 20px;
  margin-top: 30px;
  border: solid 1px #a5a5a544;
  border-radius: 12px;
  box-shadow: inset 40px 0 80px -40px rgba(110, 193, 228, 0.18),
    inset -40px 0 80px -40px rgba(255, 143, 163, 0.15);
}
.title_wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
}

.fixtures_scroll_container {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 20px;
}

.fixtures_scroll_container::-webkit-scrollbar {
  width: 6px;
}

.fixtures_scroll_container::-webkit-scrollbar-thumb {
  background-color: #54a2fe;
  border-radius: 4px;
}

.fixtures_scroll_container::-webkit-scrollbar-track {
  background-color: transparent;
}

.fixtures_list {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  padding-right: 40px;
}
.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(15, 15, 15, 0.11);
  z-index: 9999;
}

.loader {
  border: 6px solid rgba(15, 15, 15, 0.11);
  border-top: 6px solid #f53a53;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.mobile {
   padding: 20px 0 20px 20px;
  margin-top: 30px;
  border: solid 1px #a5a5a544;
  border-radius: 12px;
  box-shadow: inset 40px 0 80px -40px rgba(110, 193, 228, 0.18),
    inset -40px 0 80px -40px rgba(255, 143, 163, 0.15);
}
.mobile .fixtures_list {
  padding: 0;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
