.playerProfileCard {
  margin-bottom: 24px;
}
.grid {
  display: flex;
  gap: 24px;
  width: 100%;
}

.grid > div {
  min-width: 0;
  display: flex;
}

.container {
  min-width: 0;
  box-sizing: border-box;
}

.matchCard {
  flex: 1;
  min-width: 0;
}

.transferHistoryCard {
  flex: 1.4;
}
@media (max-width: 900px) {
  .grid {
    flex-direction: column;
  }
}
