.transfer_inner_card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #15191e66;
  background-color: #15191e66;
  border-radius: 10px;
  padding: 2px 12px;
  color: #e8e8e8;
  gap: 10px;
  width: 90%;
  margin: 0 auto;
}
.player_info_wrapper {
  display: flex;
  gap: 5px;
  border-right: solid 1px white;
  flex: 2;
}
.player_info_and_date {
  min-width: 200px;
  display: flex;
  flex-direction: column;
}
.transfer_info_wrapper {
  min-width: 150px;
  display: flex;
  flex: 1;
}
.transfer_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
