.transfer_inner_card {
  display: grid;
  grid-template-columns: 3fr auto 2fr;
  align-items: center;
  border: solid 1px #4e586466;
  background-color: #15191e66;
  border-radius: 10px;
  padding: 12px 16px;
  color: #e8e8e8;
  column-gap: 12px;
  margin: 0 auto;
  width: 90%;
}
.teams_info_inner_wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
  flex: 1;
  min-width: 0;
  overflow: hidden;
}
.team_info {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.player_info_wrapper {
  display: flex;
  gap: 5px;
  min-width: 0;
  overflow: hidden;
}
.player_info_and_date {
  display: flex;
  flex-direction: column;
  min-width: 0;
  flex: 1;
  overflow: hidden;
}
.player_name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.transfer_info_wrapper {
  display: flex;
  align-items: center;
  min-width: 0;
  overflow: hidden;
}
.first_info_name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.team_name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.transfer_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.transferLogo {
  margin-right: 7px;
}
.teamLogo {
  margin-right: 10px;
}
@media (max-width: 768px) {
  .transfer_inner_card {
    width: 90%;
    font-size: 12px;
  }
  .player_info_wrapper {
    flex-direction: column;
  }
}
.mobile .transfer_inner_card {
  font-size: 14px;
}
.mobile .teams_info_inner_wrapper {
  text-overflow: ellipsis;
}