.transfer_inner_card {
  display: flex;
  align-items: center;
  border: solid 1px #4e586466;
  background-color: #15191e66;
  border-radius: 10px;
  padding: 12px 12px;
  color: #e8e8e8;
  gap: 10px;
  margin: 0 auto;
  width: 90%;
}
.teams_info_inner_wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.team_info {
  display: flex;
}
.player_info_wrapper {
  display: flex;
  gap: 5px;
  flex: 2;
}
.player_info_and_date {
  max-width: 200px;
  display: flex;
  flex-direction: column;
}
.transfer_info_wrapper {
  max-width: 200px;
  display: flex;
  flex: 1;
  align-items: center;
}
.first_info_name{
  display: flex;
}
.transfer_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.transferLogo {
  margin-right: 7px;
}
.teamLogo {
  margin-right: 10px;
}
@media (max-width: 768px) {
  .transfer_inner_card {
    width: 90%;
    font-size: 12px;
  }
  .player_info_wrapper {
    flex-direction: column;
    max-width: 50%;
  }
  .transfer_info_wrapper {
    display: flex;
    min-width: 50px;
  }
}
.mobile .transfer_inner_card {
  font-size: 14px;
}
.mobile .teams_info_inner_wrapper {
  text-overflow: ellipsis;
}