.group_card_container {
  width: 46vw;
}

.group_card {
  border-radius: 12px;
  width: 100%;
  border: solid 1px #ffffff1a;
  overflow: hidden;
}

.group_card_table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.group_name {
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 8px;
}

.group_card_header {
  display: flex;
  color: #A5A5A5;
  padding: 10px 20px;
  background: #ffffff10;
}

.group_card_header th {
  color: #A5A5A5;
  padding: 10px 8px;
  font-weight: 400;
  text-align: left;
  font-size: 15px;
}
.header_content {
  display: grid;
  grid-template-columns: 1fr 180px;
  justify-content: space-between;
  width: 100%;
}
.titleWrapper {
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.position_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.group_card_content {
  display: grid;
  grid-template-columns: 1fr 160px;
  justify-content: space-between;
  padding: 10px 8px;
  border-bottom: 1px solid #ffffff1a;
  align-items: center;
}
.group_card_content td {
  font-size: 14px;
  color: #ffffff;
}

.group_card_content:last-child td {
  border-bottom: none;
}

.team {
  width: 100%;
  white-space: nowrap;
  width: 50%;
}
.group_card_content .index{
  color: #A5A5A5;
}
.imageWrapper{
  display: flex;
  align-items: center;
}
.image {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.pts {
  color: #f5b03a !important;
}

.team_link {
  color: inherit;
  text-decoration: none;
}

.team_link:hover,
.team_link:active {
  text-decoration: none;
}

/* Only body scrolls */
.scrollable {
  max-height: 150px;
  overflow-y: auto;
}

.scrollable::-webkit-scrollbar {
  width: 6px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #54a2fe;
  border-radius: 4px;
}

.scrollable::-webkit-scrollbar-track {
  background-color: transparent;
}
.table_wrapper{
  padding: 0 20px;
}
.scores_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.names_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
@media (max-width: 870px) {
  .group_card_container {
    width: 100%;
  }
  .team {
    max-width: 46px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
