.eventCardWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 40px;
}

@media (max-width: 968px) {
    .eventCardWrapper {
        grid-template-columns: 1fr;
    }
}