.Home_main_card {
  border: solid 1px #ffffff1a;
  border-radius: 10px;
  display: flex;
  box-shadow: 0 4px 16px 0 #101010;
  background-color: #111317b2;
  justify-content: space-between;
  position: relative;
  gap: 20px;
  padding: 15px;
}
.Home_main_card_no_mutch {
  border: solid 1px #ffffff1a;
  border-radius: 10px;
  display: flex;
  box-shadow: 0 4px 16px 0 #101010;
  background-color: #111317b2;
  justify-content: space-between;
  position: relative;
  gap: 20px;
  padding: 15px;
  min-height: 40vh;

  background-image: url("/pngs/nextMatchLeftInnerBackground.png");
  background-repeat: no-repeat;
  background-position: right;
}
.upcoming_mutch {
  background-image: url("/pngs/nextMutchLeftBackground.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  border-right: solid 1px rgba(255, 255, 255, 0.1);
}
.inner_upcoming_mutch {
  height: 100%;
  background-image: url("/pngs/nextMatchLeftInnerBackground.png");
  background-repeat: no-repeat;
  background-position: left bottom;
}
.match_wrapper {
  display: flex;
  justify-content: space-between;
  background-image: url("/pngs/nextMatchBackground.png");
  background-repeat: no-repeat;
  background-position: center;
}

.text_span {
  color: #a5a5a5;
  font-size: 14px;
}
.no_match_text {
  display: block;
  color: #a5a5a5;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20%;
}

.match_left_block,
.match_right_block {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-size: contain;
}

.match_left_block {
  background-image: url("../../assets/pngs/upComingMatchBorderRed.png");
  background-position: right;
}

.match_right_block {
  background-image: url("../../assets/pngs/upComingMatchBorderBlue.png");
  background-position: left;
}

.match_inner_wrapper {
  flex: 1;
  display: flex;
  align-items: center;
}
.title {
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10px 15px;
  background: #f53a53;
  position: absolute;
  top: -5%;
  left: 5%;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.next_match_list_wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.title_and_day_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.next_matches_list_inner_wrapper {
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-right: 8px;
}
.next_matches_list_inner_wrapper::-webkit-scrollbar {
  width: 6px;
}

.next_matches_list_inner_wrapper::-webkit-scrollbar-thumb {
  background-color: #54a2fe;
  border-radius: 4px;
}

.next_matches_list_inner_wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}

.next_matches_list_day_wrapper {
  border: solid 1px #f53a53;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: #f53a53;
}

.match_left_block_inner_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.match_right_block_inner_wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
  flex-direction: column-reverse;
}
.team_logo {
  width: 100%;
  max-width: 180px;
  height: auto;
  object-fit: contain;
}

.position_block_left {
  border: solid 1px #f53a53;
  border-radius: 50px;
  color: #f53a53;
  padding: 5px 10px;
}
.position_block_right {
  border: solid 1px #54a2fe;
  border-radius: 50px;
  color: #54a2fe;
  padding: 5px 10px;
}
.team_name {
  color: white;
  font-weight: bold;
}
.achievements {
  color: #a5a5a5;
}

.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(15, 15, 15, 0.11);
  z-index: 9999;
}

.loader {
  border: 6px solid rgba(15, 15, 15, 0.11);
  border-top: 6px solid #f53a53;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.no_upcoming_wrapper {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.no_upcoming_text {
  color: #a5a5a5;
  font-size: 14px;
}

@media (max-width: 768px) {
  .Home_main_card {
    border: solid 1px #ffffff1a;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 16px 0 #101010;
    background-color: #111317b2;
    justify-content: space-between;
    position: relative;
    gap: 20px;
    padding: 15px;
  }
  .match_inner_wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    background: #f53a53;
    position: absolute;
    top: -1.5%;
    left: 25%;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .match_left_block {
    background-image: url("../../assets/pngs/upComingMatchBorderRed.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    transform: rotate(90deg);
  }
  .match_left_block_inner_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    transform: rotate(-90deg);
  }
  .match_right_block {
    background-image: url("../../assets/pngs/upComingMatchBorderBlue.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    transform: rotate(90deg);
  }
  .match_right_block_inner_wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
    flex-direction: column-reverse;
    transform: rotate(-90deg);
  }
  .team_logo {
    max-width: 300px;
  }
  .match_inner_wrapper {
    margin-top: 20px;
  }
}
