.Home_main_card {
  border: solid 1px #ffffff1a;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  box-shadow: 0 4px 16px 0 #101010;
  background-color: #111317b2;
  justify-content: space-between;
  position: relative;
  gap: 20px;
  padding: 15px;
  padding-right: 0;
}
.Home_main_card_no_mutch {
  border: solid 1px #ffffff1a;
  border-radius: 10px;
  display: flex;
  box-shadow: 0 4px 16px 0 #101010;
  background-color: #111317b2;
  justify-content: center;
  position: relative;
  gap: 20px;
  padding: 15px;
  min-height: 40vh;
  background-repeat: no-repeat;
  background-position: right;
  align-items: center;
}
.matchDateLabel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.match_wrapper {
  display: flex;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
}

.text_span {
  color: #a5a5a5;
  font-size: 14px;
}
.no_match_text {
  display: block;
  color: #a5a5a5;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20%;
}

.match_left_block {
   width: 100%;
  position: relative;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.match_right_block {
  width: 100%;
  position: relative;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.match_left_block_inner_wrapper {
  margin-left: clamp(10px, 2vw, 70px);
}

.match_right_block_inner_wrapper {
  margin-right: clamp(10px, 2vw, 70px);
}
 .backgroundImageWrapper {
   position: absolute;
   width: clamp(200px, 20vw, 400px);
   height: fit-content;
   z-index: 10;

 }
.backgroundImage {
  display: flex;
  width: 100%;
  height: 100%;
}
.match_inner_wrapper {
  display: flex;
  flex-direction: column;
}
.leftRightWrapper {
  display: grid;
  grid-template-columns: 1fr 80px 1fr;
  height: 100%;
  align-items: center;
  margin: 0 20px;
}
.title {
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10px 15px;
  background: #f53a53;
  position: absolute;
  top: 0;
  left: 100px;
  clip-path: polygon(
    0 0,
    100% 0,
    88% 100%,
    12% 100%
  );
  border-bottom-left-radius: 85px;
  border-bottom-right-radius: 85px;
  height: 20px;
  width: 170px;
}
.title_mobile {
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10px 15px;
  background: #f53a53;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(
    0 0,
    100% 0,
    88% 100%,
    12% 100%
  );
  border-bottom-left-radius: 85px;
  border-bottom-right-radius: 85px;
  height: 20px;
  width: 170px;
  justify-content: center;
  display: flex;
  align-self: center;
  justify-self: center;
}
.title_text {
    display: flex;
    position: relative;
    font-size: 16px;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}
.liveWrapper {
    display: flex;
    flex-direction: column;
    margin: 0 28px;
    justify-content: center;
    align-items: center;
}
.divider {
  display: flex;
  height: inherit;
  margin-top: 4px;
  flex: 1;
}
.title_mobile_wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.next_match_list_wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.title_and_day_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.next_matches_list_inner_wrapper {
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-right: 8px;
}
.next_matches_list_inner_wrapper::-webkit-scrollbar {
  width: 6px;
}

.next_matches_list_inner_wrapper::-webkit-scrollbar-thumb {
  background-color: #54a2fe;
  border-radius: 5px 0 0 5px;
}

.next_matches_list_inner_wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}

.next_matches_list_day_wrapper {
  border: solid 1px #f53a53;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: #f53a53;
}

.match_left_block_inner_wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 40px;
  align-self: center;
  align-items:center;
}
.match_right_block_inner_wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 40px;
  align-self: center;
  align-items: center;
}
.team_logo {
  width: clamp(60px, 5vw, 140px);
  height: auto;
  max-height: 100px;
  height: 100%;
  object-fit: contain;
}

.position_block_left {
  border: solid 1px #f53a53;
  border-radius: 50px;
  color: #f53a53;
  padding: 5px 10px;
}
.position_block_right {
  border: solid 1px #54a2fe;
  border-radius: 50px;
  color: #54a2fe;
  padding: 5px 10px;
}
.team_name {
  display: flex;
  color: white;
  font-weight: bold;
  flex-wrap: wrap;
  white-space: wrap;
  align-self: center;
  justify-self: center;
}
.achievements {
  color: #a5a5a5;
}

.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(15, 15, 15, 0.11);
  z-index: 9999;
}

.loader {
  border: 6px solid rgba(15, 15, 15, 0.11);
  border-top: 6px solid #f53a53;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
.vsIconWrapper {
  display: flex;
  width: clamp(60px, 5vw, 120px);
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.vsIconWrapper img {
  width: 180px;
  height: 100px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.no_upcoming_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no_upcoming_image {
  width: 100%;
}

.no_upcoming_text {
  color: #a5a5a5;
  font-size: 14px;
  margin-top: 10px;
}
/* @media (min-width: 1860px) {
  .match_left_block_inner_wrapper {
    margin-left: 70px;
  }
  .match_right_block_inner_wrapper {
    margin-right: 70px;
  }
} */
/* @media (max-width: 1300px) {
  .team_logo {
    max-width: 80px;
    width: 100%;
    height: 80px;
  }
  .team_name {
    font-size: 12px;
  }
  .match_right_block_inner_wrapper {
    margin-right: 10px;
  }
} */
/* @media (max-width: 1100px) {
  .team_logo {
    max-width: 60px;
    width: 100%;
    height: 80px;
  }
  .team_name {
    font-size: 12px;
  }
  .match_right_block_inner_wrapper {
    margin-right: 10px;
  }
 } */

@media (max-width: 768px) {
  .Home_main_card {
    border: solid 1px #ffffff1a;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 16px 0 #101010;
    background-color: #111317b2;
    justify-content: space-between;
    position: relative;
    gap: 20px;
    padding: 15px;
  }
  .leftRightWrapper {
    display: grid;
    grid-template-rows: 1fr 120px 1fr;
    justify-content: center;
    grid-template-columns: none;
  }
  .title {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .backgroundImageWrapper {
    height: unset;
    position: relative;
  }
  .match_left_block {
    display: flex;
    position: relative;
    transform: rotate(90deg);
  }
  .match_left_block_inner_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: rotate(-90deg);
  }
  .match_right_block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    transform: rotate(90deg);
  }
  .match_right_block_inner_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    position: absolute;
    flex-direction: column-reverse;
    transform: rotate(-90deg);
    margin-right: 0;
  }
  .vsIconWrapper {
    display: flex;
    justify-self: center;
  }
  .team_logo {
      width: 100%;  
      height: 100%;
  }
  .leftRightWrapper {
    margin-top: 20px;
  }
}
