.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 32px 0 26px 24px;
  background: rgba(17, 19, 23, 0.7);
  border-radius: 15px;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  height: auto;
  width: 100%;
  box-sizing: border-box;
  align-items: flex-start;
}
.quitTeamButtonText {
  display: flex;
  flex-direction: column;
}
.playerContainer {
  display: flex;
  flex-direction: row;
  padding: 19px 0 26px 32px;
}
.infoButtonPart {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.imageInfoContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 22px;
}
.plusIcon {
  width: 12px;
  height: 12px;
}
.imageWrapper {
  position: relative;
  display: inline-block;
}
.image {
  width: 260px;
  height: 100%;
  flex-shrink: 0;
  margin-right: 36px;
  border-radius: 10px;
  background: linear-gradient(272deg, #c50720 -121%, #f6465d 117%);
}
.playerInfoContainer {
  display: flex;
  flex-direction: column;
}
.name {
  font-size: 36px;
  color: #e8e8e8;
  text-transform: capitalize;
  padding-bottom: 10px;
  margin-top: 15px;
}
.teamContainer {
  display: flex;
  flex-direction: column;
}
.teamContainer::before {
  content: "";
  display: flex;
  flex-direction: column;
  height: 1px;
  width: 100%;
  margin-top: 32px;
  background: linear-gradient(
    to right,
    #a5a5a5 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 17px;
}
.teamInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.teamImg {
  width: 42px;
  height: 42px;
  border-radius: 80%;
  margin-right: 10px;
  background-color: #e8e8e8;
}

.infoButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
}

.playerInfoContainer::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  margin-top: 32px;
  background: linear-gradient(
    to right,
    #a5a5a5 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.buttonsContainer {
  display: flex;
  margin-top: 32px;
  flex-wrap: nowrap;
}
.buttonsContainer > *:not(:last-child) {
  margin-right: 13px;
}
.button {
  display: flex;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  background: rgba(21, 25, 30, 0.4);
  backdrop-filter: blur(10px);
  color: #a5a5a5;
  text-transform: capitalize;
  font-size: 14px;
}
.button > span {
  color: #ffffff;
}

.playerNumberContainer {
  display: flex;
  align-items: flex-end;
}

.playerNumber {
  font-size: 243px;
  font-weight: 700;
  line-height: 1;
  position: relative;
  color: transparent;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1) 0%,
    transparent 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px transparent;
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0 0 0 rgba(255, 255, 255, 0.1));
}
.teamName {
  font-size: 22px;
  color: #ffffff;
}

.teamLogoWrapper {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  z-index: 5;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
}
.teamLogo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rightContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1px;
  max-height: 470px;
  overflow-y: auto;
}
.rightContainer::-webkit-scrollbar {
  width: 6px;
}

.rightContainer::-webkit-scrollbar-thumb {
  background-color: #54a2fe;
  border-radius: 4px;
}

.rightContainer::-webkit-scrollbar-track {
  background-color: transparent;
}
.leftContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 2;
  height: 100%;
}
.unassignedContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* --------------- mobile styles --------------------- */
.mobile {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

.mobile .leftContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.mobile .rightContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.mobile .playerContainer {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}
.mobile .wrapper {
  display: flex;
  flex-direction: row;
}
.mobile .nameWrapper {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}
.mobile .imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 10px;
  margin-bottom: 2px;
  flex-direction: column;
}
.mobile .image {
  margin: 0;
  width: 334px;
  height: 436px;
}

.mobile .teamContainer {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
}
.mobile .teamContainer::before {
  display: none;
}

.mobile .infoButtons {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 6px;
  width: 100%;
  flex-wrap: wrap;
}
.mobile .playerInfoContainer::after {
  display: none;
}
.mobile .buttonsContainer {
  position: absolute;
  bottom: 0;
  width: 334px;
  display: flex;
  justify-content: space-between;
  padding: 20px 16px;
  box-sizing: border-box;
  margin-bottom: 20px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(138, 137, 137, 0) 100%
  );
  backdrop-filter: blur(7.5px);
}
.mobile .playerInfoContainer {
  display: flex;
  flex-direction: row-reverse;
  padding: 26px 17px 0 17px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
  width: 100%;
}
.mobile .nameWrapper * button {
  height: 28px;
}

.mobile .name {
  font-size: 34px;
  align-items: center;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
}
.mobile .playerNumberContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  pointer-events: none;
}

.mobile .playerNumber {
  font-size: 132px;
  height: 120px;
}

.mobile .numberNameWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  position: relative;
  height: 66px;
  margin-bottom: 20px;
}

.mobile .imageInfoContainer {
  margin: 0;
}

.mobile .teamContainer {
  margin: 0;
  padding: 33px 17px;
}

.mobile .team {
  margin: 0;
}
.mobile .nameWrapper button,
.mobile .wrapper button {
  position: relative;
  z-index: 5;
}

@media (max-width: 398px) {
  .numberNameWrapper {
    margin-top: 40px;
  }
}
@media (max-width: 1330px) {
  .playerNumber {
    font-size: 136px;
  }
}
@media (max-width: 1230px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 595px) and (max-width: 765px) {
  .numberNameWrapper {
    margin-top: 32px;
  }
}
