:root {
  font-family: var(--font-onest), sans-serif;
}
body {
  margin: 0;
  box-sizing: border-box;
  background-origin: border-box;
  background-color: rgba(15, 16, 17, 0.97);
  background-image:
    linear-gradient(
    rgba(15, 16, 17, 0.95),
    rgba(15, 16, 17, 0.95)
  ),
  linear-gradient(to right, #F6465D, #54A2FE);
}
.container {
  padding: 15px 33px;
  min-height: calc(100vh - var(--header-height)); /* optional */
}
body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: #54a2fe;
  border-radius: 5px 0 0 5px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body.no-scroll {
  overflow: hidden !important;
  height: 100vh !important;
}
