.match_list_innerCard {
  display: flex;
  align-items: center;
  border: solid 1px #ffffff1a;
  border-radius: 20px;
  padding: 0 26px 14px;
  background-color: #15191e;
  color: #fff;
}

.teams_info {
  flex: 1;
  height: 100%;
}
.team_inner_info {
  display: flex;
  flex-direction: column;
  height: 50%;
  align-items: start;
  justify-content: center;
}
.team_name {
  display: flex;
  margin-top: 14px;
}
.team_points {
  margin-bottom: 11px;
}
.match_date_time {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  margin-left: 20px;
  margin-bottom: 8px;
  width: 160px;
}

.icon {
  display: flex;
  width: 10px;
  height: 10px;
  margin-bottom: 3px;
}
.vs_icon {
  justify-self: flex-end;
  margin: 0 20px -15px 10px;
}

.team_points {
  color: #a5a5a5;
}
.divider {
  height: 100%;
  margin-top: 14px;
}
@media (max-width: 768px) {
  .match_list_innerCard {
    font-size: 14px;
    padding: 8px;
    gap: 5px;
  }
  .team_inner_info {
    gap: 5px;
    height: 40%;
  }
  .match_date_time {
    gap: 4px;
  }
  .vs_icon {
    margin: 0 10px -10px 140px;
  }
}
