.match_list_innerCard {
  display: flex;
  align-items: center;
  border: solid 1px #ffffff1a;
  border-radius: 20px;
  padding: 14px 26px;
  background-color: #15191e;
  color: #fff;
}

.teams_info {
  flex: 1;
  height: 100%;
}
.team_inner_info {
  display: flex;
  flex-direction: column;
  height: 50%;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  padding: 10px 0;
}
.team_name {
  display: flex;
}
.team_points {
}
.match_date_time {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  margin-left: 20px;
  margin-bottom: 8px;
  width: 160px;
}

.icon {
  display: flex;
  width: 12px;
  height: 12px;
  margin-bottom: 3px;
}
.iconTime {
  display: flex;
  width: 13px;
  height: 13px;
  margin-bottom: 3px;
}
.vs_icon {
  justify-self: flex-end;
  margin: 0 20px -15px 10px;
}

.team_points {
  color: #a5a5a5;
}
.divider {
  width: 1px;
  align-self: stretch;
  background-color: rgba(255, 255, 255, 0.1);
  flex-shrink: 0;
  margin: 8px 0;
}
.date {
  text-overflow: ellipsis;
}
@media (max-width: 768px) {
  .match_list_innerCard {
    font-size: 12px;
    padding: 8px;
    gap: 5px;
  }
  .team_inner_info {
    gap: 5px;
    height: 40%;
  }
  .match_date_time {
    gap: 4px;
    margin: 0;
    width: 90px;
    flex-shrink: 0;
  }
  /* .vs_icon {
    margin: 0 10px -14px 140px;
  } */
}
.mobile .teams_info {
  min-width: 12px;
}