.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 9998;
}
.container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: stretch;
    border-radius: 20px;
    border: 1px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: border-box;
    background-image: linear-gradient(rgba(15, 16, 17, 0.97),
      rgba(15, 16, 17, 0.87)), linear-gradient(to right, #54A2FE, #F6465D);
    box-shadow:
    0 0 10px rgba(84, 162, 254, 0.4),
    0 0 15px rgba(246, 70, 93, 0.3);
    z-index: 99;
    width: 470px;
    gap: 20px;
}
.content {
     display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px 24px 0;
    box-sizing: border-box; 
    gap: 24px;
}
.infoWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.imagesWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.playerName {
    color: #E8E8E8;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
}
.playerImage {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    z-index: 1;
}
.teamImage {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    position: relative;
    right: 20px;
}
.statsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.title {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
}
.wrapper {
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(35, 35, 35, 0.409);
    border-radius: 8px;
}
.wrapperCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.wrapperCard span {
    color: rgba(255, 255, 255, 0.70);
    font-size: 16px;
    font-weight: 300;
}
.wrapper div {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    text-transform:capitalize;
}
.playerProfileWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(35, 35, 35, 0.409);
    padding: 19px 24px;
    gap: 10px;
    margin-top: auto; 
    box-sizing: border-box; 
}
.imageTextWrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.profileImage {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.playerProfile {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}