.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.bottomContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}
.innerBottomContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
