.container {
    display: flex;
    flex-direction: column;
    height: 680px;
}
.tabsContainer {
    display: flex;
    flex-direction: row;
    gap: 14px;
    margin-top: 30px;
    flex-shrink: 0;
}
.tab {
    display: flex;
    padding: 8px 21px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(5px);
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    width: fit-content;
    cursor: pointer;
}

.isActive {
    border: 1px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: border-box;
  background-image: linear-gradient(rgba(15, 16, 17, 0.97),
      rgba(15, 16, 17, 0.87)), linear-gradient(to right, #54A2FE, #F6465D);
  box-shadow:
   inset 0 0 10px rgba(84, 162, 254, 0.4),
    inset 0 0 15px rgba(246, 70, 93, 0.3);
  z-index: 99;
}
.scrollContainer {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 16px;
}
.scrollContainer::-webkit-scrollbar {
    width: 6px;
}
.scrollContainer::-webkit-scrollbar-thumb {
    background-color: #54a2fe;
    border-radius: 4px;
}
.scrollContainer::-webkit-scrollbar-track {
    background-color: transparent;
}
.transfers {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 12px;
    padding-right: 20px;
}
.loaderContainer {
    display: flex;
    justify-content: center;
    padding: 16px 0;
}
.loader {
    border: 6px solid rgba(15, 15, 15, 0.11);
    border-top: 6px solid #f53a53;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}