.container {
    display: flex;
    flex-direction: row;
    width: 252px;
    height: 136px;
    border: 1px solid rgba(255, 255, 255, 0.10);
     border-radius: 15px;
     justify-content: space-between;
     align-items: center;
     flex-shrink: 0;
}
.logoNameWrapper {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.leagueLogo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}
.name {
  color: #E8E8E8;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
}
.season {
  color: #7a7a7a;
  font-size: 12px;
  font-weight: 400;
}
.trophie {
    display: flex ;
    width: 84px;
    height: 108px;
    justify-self: flex-end;
}
.mobile  {
    width: 100%;
}