.container {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: 0.5px solid rgba(255, 255, 255, 0.10);
    padding: 14px 10px;
    background-color: #15191E;
    align-items: stretch;
    margin-right: 24px;
    margin-bottom: 10px;
    background: rgba(21, 25, 30, 0.40);
}
.leftSideContainer {
    display: flex;
    flex-direction: column;
    border-right: 0.5px solid rgba(255, 255, 255, 0.10);
    flex: 1 1 auto;
    min-width: 0;
    justify-content: center;
}
.firstTeam {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.10);
    padding: 6px 20px 20px 20px;
    align-items: center;
}
.secondTeam {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 6px 20px  ;
    align-items: center;
}
.teamName {
    color: #E8E8E8;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.teamValue {
    color: #E8E8E8;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}
.rightSideContainer {
     display: flex;
    flex-direction: column;
    justify-content: space-between;
     flex: 0 0 180px;
    min-width: 0;
    padding-right: 10px;
    padding-left: 20px;
}
.dateWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-bottom: 14px;
    width: fit-content;
}
.dateIcon {
    margin-right: 8px;
    width: 18px;
    height: 18px;
}
.date {
    color: #E8E8E8;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
}
.cardsContainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}
.cards {
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 0.5px solid rgba(255, 255, 255, 0.10);
    background: rgba(21, 25, 30, 0.40);
    backdrop-filter: blur(10px);
}
.icons {
    width: 18px;
    height: 18px;
    z-index: 1;
}
.iconCard{
     width: 14px;
     height: 19px;
     z-index: 1;
}
.values {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
}
.iconWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    z-index: 1;
    margin-right: 10px;
}

.redGlow::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: radial-gradient(
    circle,
    rgba(255, 0, 80, 0.55),
    rgba(255, 0, 80, 0.1),
    transparent 90%
  );
  filter: blur(6px);
  z-index: 0;
}

.blueGlow::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: radial-gradient(
    circle,
    rgba(0, 144, 255, 0.55),
    rgba(0, 144, 255, 0.1),
    transparent 90%
  );
  filter: blur(6px);
  z-index: 0;
}

.yellowGlow::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: radial-gradient(
    circle,
     rgba(245, 179, 0, 0.7),
    rgba(212, 195, 6, 0.1),
    transparent 90%
  );
  filter: blur(6px);
  z-index: 0;
}

/* ----------mobile styles ---------------*/
.mobile {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-right: 18px;
    padding: 19px 15px;
}


.mobile .dateWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mobile .leftSideContainer {
    border-right: 0;
}
.mobile .rightSideContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin-top: 8px;
}
.mobile .firstTeam {
    padding: 8px 0;
}
.mobile .secondTeam {
    padding: 8px 0;
}
.mobile .cardsContainer {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}
.mobile .teamValue {
    margin-left: 12px;
}